.DisplayRow {
  display: flex;
  flex-direction: row;
}
.Grid {
  width: 100%;
  margin-left: 30px;
  margin-right: 210px;
  display: flex;
  flex-direction: column;
}
.AccountSettings {
  width: 163px;
  height: 24px;
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.22px;
  color: #000000;
}
.PersonalSettings {
  width: 167px;
  height: 24px;
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.22px;
  color: #000000;
}
.Grid1 {
  margin-right: 204px;
  margin-left: 60px;
}
.TextField {
  width: 328px;
  height: 56px;
}
